<h1>Drug Search</h1>

<%= form_tag(search_path, method: 'get') do %>
  <%= text_field_tag(:q, params[:q]) %>
  <%= submit_tag('Search') %>
<% end %>

<h1>Results</h1>
<ul>
  <% @search.each do |drug| %>
    <li>
      <%= link_to drug.title, drug_path(drug._id) %>
    </li>
  <% end %>
</ul>
